<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>
    Create new Listing
  </h2>
  <form method="POST" action="/listing">
    <input name="listing[title]" placeholder="Enter your Title" type="text"><br /><br />
    <textarea name="listing[description]" placeholder="Enter your description" type="text"></textarea><br /><br />
    <input name="listing[price]" placeholder="Enter your price" type="number"><br /><br />
    <input name="listing[location]" placeholder="Enter your location" type="text"><br /><br />
    <input name="listing[country]" placeholder="Enter your country name" type="text"><br /><br />
    <button>Submit</button>
  </form>
</body>

</html>