<% layout("/layouts/boilerplate.ejs") %>

  <body>
    <h3>All Hotels details</h3>
    <ul>
      <br />
      <!-- <form method="GET" action="/listing/new">
        <button>New Hotels</button>
      </form> -->
      <br />
      <% for(let listing of data){ %>
        <li>
          <a href="/listing/<%=listing._id%>">
            <%= listing.title%>
          </a>
        </li>
        <li>
          <a href="/listing/<%=listing._id%>">
            <%= listing.title%>
          </a>
        </li>
        <% } %>
    </ul>
  </body>


  </html>