/* body{
  background-color: aquamarine;
  color: black;
} */

.navbar{
  height : 5rem;
  background-color: white;
}

.nav-link{
  color: #222222 !important;
}

.ft_container{
  width: 100%;
  background-color: #ebebeb;
  color: black;

}

.ft_text{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .ft_content{
  display: flex;
  justify-content: first baseline;
  align-items: first baseline;
} */